body, #header-wrapper, footer {
	background-color: #bddca5;
}
article, main {
	background-color: #e37164;
}
article header {
	background-color: #ffd701;
}
article section {
	background-color: #fff0b3;
}