body, #header-wrapper, footer {
	background-color: #ef98b1;
}
article, main {
	background-color: #9d5b87;
}
article header {
	background-color: #c0ce43;
}
article section {
	background-color: #bddca5;
}