	<header id="header">
		<a href="/"><img src="/logo.svg" class="logo"></a>
		<div id="hamburger-link" onclick="hamToggle()">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 120 120" id="hamburger">
				<circle cx=15 cy=60 r=15 fill=white />
				<circle cx=60 cy=60 r=15 fill=white />
				<circle cx=105 cy=60 r=15 fill=white />
			</svg>
		</div>
		<nav id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/recipe-index/">Recipe Index</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>			
		</nav>
	</header>